<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367271071929-9em4nm9jtttfdgn8rk9ae618o5m0ktm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367271071929-9em4nm9jtttfdgn8rk9ae618o5m0ktm6</string>
	<key>API_KEY</key>
	<string>AIzaSyD0wSvgECwL684NEvwBgAL_SZ6LLnRNuUo</string>
	<key>GCM_SENDER_ID</key>
	<string>367271071929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>name.RoommateApplication</string>
	<key>PROJECT_ID</key>
	<string>roommate-34c92</string>
	<key>STORAGE_BUCKET</key>
	<string>roommate-34c92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367271071929:ios:d67db6e86ee204cef30b68</string>
</dict>
</plist>